name: Build backend

on:
  workflow_call:
    inputs:
      node-versions:
        description: 'Node.js versions to test against'
        required: true
        type: string
        default: '["20.x", "22.x"]'

jobs:
  build_backend:
    runs-on: ubuntu-latest

    # Supported versions: 20 and 22
    strategy:
      matrix:
        node-version: ${{ fromJson(inputs.node-versions) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Run npm install
        run: npm ci
      - name: Run npm build
        run: npm run build
      - name: Run npm test
        run: npm run test:cov
      - name: Upload code coverage results
        # Optmize build by only uploading once for Node 20
        if: matrix.node-version == '20.x'
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/