name: Build docker

env:
  NODE_ENV: production

on:
  workflow_call:
    inputs:
      image-name:
        description: 'Name of the Docker image to build'
        required: true
        type: string
jobs:
  build_docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        run: |
          docker build -t ${{ inputs.image-name }}:latest .
          docker images ${{ inputs.image-name }}:latest
      - name: Test Docker image
        run: |
          echo "Docker image built successfully. Environment: ${{ env.NODE_ENV }} with Api Key: ${{ inputs.api-key }}!"
          docker run --rm ${{ inputs.image-name }}:latest node --version