name: Deploy with CI and CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_backend:
    uses: ./.github/workflows/build-backend.yml
    with:
      node-versions: '["20.x", "22.x"]'
  analyse_code:
    uses: ./.github/workflows/analyse-code.yml
    needs: [build_backend]
  docker_build:
    uses: ./.github/workflows/build-docker.yml
    needs: [analyse_code]
    with:
      image-name: 'finances-control-nestjs'
  notify_success:
    runs-on: ubuntu-latest
    needs: [docker_build]
    steps:
      - name: Notify success
        run: echo "Deployment pipeline completed successfully!"
  clean_files:
    runs-on: ubuntu-latest
    needs: [docker_build]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Clean up Docker images
        run: |
          IMAGES=$(docker images -q)
          if [ -n "$IMAGES" ]; then
            docker rmi $IMAGES
          else
            echo "No Docker images to remove"
          fi